#NavigationWall {
    
    height: 450px;
    
    
    
    
}
#logo{
    width: 110px;
    height: 70px;
}
#img{
    background-image: url("./walls/geometry.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    

}
#navbar {
    /*background-color: rgba(0,0,0);*/
    background-image: url("https://i.gifer.com/1TaP.gif");
    background-size: contain;
    font-family: 'Courier Prime', monospace;
}
#photo{
    background-image: url("./walls/myProfileGF.jpg");
    background-size: contain;
    border-radius: 50%;
    margin: auto;
    opacity: .30;
    height: 200px;
    width: 200px;
    position: relative;
    top: 50px;

    
}
#title{
    font-family: 'Courier Prime', monospace;
    
}
#titleIntro{
    font-family: 'Courier Prime', monospace;
}
#textContentIntro{
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
}
#titleSkills{
    font-family: 'Courier Prime', monospace;
}

#imgTech{
    
   
    width: 150px;
    height: 150px;
}
#imgTechReact{
    
   
    width: 180px;
    height: 150px;
}

#imgTechSsh{
    
   
    width: 240px;
    height: 150px;
}
#others{
    margin-top: 130px;
}
#skills{
    margin-top: 100px;
}
#titleContact{
    margin-top: 150px;
    font-family: 'Courier Prime', monospace;
    font-size: 35px;
    
}
#in{
    width: 60px;
    height: 60px;
    border: 2px solid cyan;
    border-radius: 50%;
}
#email{
    width: 50px;
    height: 50px;
    border: 2px solid cyan;
    border-radius: 50%;}
#phone{
    width: 50px;
    height: 50px;
    border: 2px solid cyan;
    border-radius: 50%;
}
#data{
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
    color: gainsboro;
}
#contact{
    background-image: url("https://i.gifer.com/1TaP.gif");
    backgroud-size: contain;
}